@import url(../../Global/GlobalHeader.css);
@import url(../../Global/GlobalFooter.css);
@import url(../../Global/global.css);


#Equipe {
  border: 1px solid var(--cor-primaria);
}

a {
  color: var(--cor-primaria) ;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: white;
}

body {
  background-color: var(--cor-secundaria);
}


#initial-inform {
  text-align: center;
}
#initial-inform > h1,h2 {
  font-size: 50px;
  padding-top: 20px;
  color: var(--cor-primaria);
}
#initial-inform  div  img {
  margin: auto;
  width: 300px;
  padding-top: 20px;
}
#initial-inform  div  {
  background-color: white;
  display: block;
}
#initial-inform  div > div {
  background-color: rgb(0, 89, 255);
  padding: 10px;
}
#initial-inform  div > div > p {
  line-height: 40px;
  text-align: start;
  max-width: 700px;
  margin: 1px  auto;
  font-size: 20px;
}

div > div > a {
  color: var(--cor-primaria);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  text-align: center;
  display: block;
}

a:hover {
  color: white;
  text-decoration: underline;
}


main .membros2024 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  transition: transform 0.3s ease-in-out;

  border: 2px  solid var(--cor-primaria) ;
  padding: 30px;
  margin: 50px;

  box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.098);
}



main .membros2024 > div {
  border: 1px solid rgb(46, 25, 0);

  background-image: linear-gradient(to bottom left, black, rgb(14, 9, 0));

  border-radius: 10px;

  padding: 40px 5px;
  margin: 10px ;
  z-index: 100;

  transition: ease-in-out .5s;
}

main .membros2024 > div:hover {
  border: 1px solid var(--cor-primaria);
  box-shadow: 0px 0px 15px var(--cor-primaria);
  z-index: 200;
  scale: 105%;
}

main .membros2024 > div > div {
  height: 300px;
  padding: 20px;
}

main .membros2024 > div > figure {
  max-width: 250px;
  height: 220px;
  margin: auto;
  padding: 20px;
  background-color: wheat;
  transition: transform 0.5s ease-in-out;

  border-radius: 10px ;

  border: 5px solid var(--cor-secundaria);
}

main .membros2024 > div > figure:hover {
  transform: scale(1.05);
}

h4 {
  color: var(--cor-primaria);
}

@media screen and (min-width: 750px) {
  div.membros2024 > div p {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  main .membros2024 {
    flex-direction: column;
    padding: 10px;
    margin: 20px;
  }

  main .membros2024 > div {
    width: 90%;
    margin: 10px auto;
  }
}

#tecnico figure {
  background-image: url(../../../img/Equipe/icone/Anderson.jpg);
  background-size: cover ;
}

#mem1 figure {
  background-image: url(../../../img/Equipe/icone/Moises.jpg);
  background-size: cover;
}

#mem2 figure {
  background-image: url(../../../img/Equipe/icone/Elias.jpg);
  background-size: cover ;
}

#mem3 figure {
  background-image: url(../../../img/Equipe/icone/Mike.jpg);
  background-size: cover;
}

#mem4 figure {
  background-image: url(../../../img/Equipe/icone/raquel.jpg);
  background-size: cover;
}

#mem5 figure {
  background-image: url(../../../img/Equipe/icone/Cloves.jpg);
  background-size: cover;
}

#mem6 figure {
  background-image: url(../../../img/Equipe/icone/Livia.jpg);
  background-size: cover;
}

#mem7 figure {
  background-image: url(../../../img/Equipe/icone/willian.jpg);
  background-size: cover;
}

#mem8 figure {
  background-image: url(../../../img/Equipe/icone/Jhonatan.jpg);
  background-size: cover;
}





