@import url(global.css);
@import url(GlobalFooterAdp.css);

footer {
   background-color: var(--cor-primaria);
   text-align: center;
   color: rgb(0, 0, 0);
   padding: 30px 40px;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1) .9s;
}

footer a:hover {
   background-color: black;
   color: var(--cor-primaria) !important;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1) .9s;
}

footer ul {
   color: var(--cor-primaria);
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   padding: 1px 1px;
   

}

footer ul > li >  a {
   padding: 5px;
   text-align: center;
   
   margin: 3px;
   color: black;
   font-weight: bold;

   transition: cubic-bezier(0.075, 0.82, 0.165, 1) .9s;
}

footer ul > li {
   margin: 2px;
}

.footer-container,
.ContatoFooter,
.EquipeFooter {
   width: auto;
   height: auto;
   margin: 20px auto;
}

.ContatoFooter a {
   font-weight: bold;
   color: black;
}

@media screen and (min-width:850px) {
    footer {
      display: flex;
    }

   .footer-container,
   .ContatoFooter,
   .EquipeFooter {
      width: 400px;
      height: auto;
      margin: 20px auto;
}
}