@import url(../../Global/GlobalHeader.css);
@import url(../../Global/GlobalFooter.css);
@import url(../../Global/global.css);

#Eventos {
  border: 1px solid var(--cor-primaria);
}
 
a {
  color: var(--cor-primaria) ;
  transition: color 0.3s ease-in-out;
}
 
a:hover {
  color: white;
}

.swiper-slide {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.swiper-slide > img {
  width: 100%;
  height: 500px;
  align-items: center;
  object-fit: cover;
  
}

article h1, h2, h3, h4 {
  color: var(--cor-primaria);
}

article {
  max-width: 600px;
  margin: 20px auto;

  color: white;
  background-color: rgb(0, 0, 0);

  border:1px solid var(--cor-primaria) ;
}

article .conteudo {
  display: none !important; 
}

article.show .conteudo {
  display: block !important;
}

main button {
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100px;
  margin: 10px;

  cursor: pointer;
}

main img {
  max-width: 400px;
  display: block;
  margin: auto;
}

main div.tituloesub > div{
  display: flex;
  margin: 5px;

  align-items: center;
  font-size: 13px;
}

main div.tituloesub > h2 {
  text-align: center;
  font-size: 25;
}

main div.tituloesub {
  padding: 10px;
  max-width: 700px;
  margin: auto;
}

main div.conteudo {
  padding: 20px;
  line-height: 25px;
}


main div.conteudo p {
  margin: 10px;
}

