@import url(../../Global/GlobalHeader.css);
@import url(../../Global/GlobalFooter.css);
@import url(../../Global/global.css);


#Eventos {
   border: 1px solid var(--cor-primaria);
 }
 
 a {
   color: var(--cor-primaria) ;
   transition: color 0.3s ease-in-out;
 }
 
 a:hover {
   color: white;
 }